<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />

	<div id="viewer"></div>

	<script type="text/javascript">

	PDFJS.getDocument('uploads/tx_szebook/{ebook.pdf}').then(function(pdf) {
		var container = document.getElementById('viewer');
		for (var i = 0; i < pdf.pdfInfo.numPages; i++) {
			var book = document.createElement('canvas');
			book.setAttribute('id', 'page' + (i+1));
			container.appendChild(book);
		}
		function renderPage(num) {
			pdf.getPage(num).then(function(page) {

				var scale = 1;
				var viewport = page.getViewport(scale);

				var canvas = document.getElementById('page' + num);

				var context = canvas.getContext('2d');
				canvas.height = viewport.height;
				canvas.width = viewport.width;

				var renderContext = {
					canvasContext: context,
					viewport: viewport
				};
				page.render(renderContext);
			});
		}

		var viewer = $("#viewer");
		viewer.turn({
			width: 812,
			height: 543,
			autoCenter: true
		});

		viewer.bind("turning", function(event, page, view) {
			for(var key in view) {
				renderPage(view[key]);
			}
		});

		renderPage(1);

	});

	</script>

</f:section>