<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />

	<div class="magazine-viewport">
		<h2 class="heading teaser"><span>{ebook.header}</span></h2>
		<div class="progress">
			<div class="progress-bar"></div>
		</div>
		<div class="container">
			<div class="magazine" id="viewer" data-scale="{ebook.scale}">
				<f:if condition="{ebook.image}">
					<div class="hard"><f:image src="uploads/tx_szebook/{ebook.image}" /></div>
				</f:if>
			</div>
		</div>
	</div>

	<script>
		PDFJS.workerSrc = '/typo3conf/ext/sz_ebook/Resources/Public/Js/pdf/worker_loader.js';
		var pdfWithFormsPath = '/uploads/tx_szebook/{ebook.pdf}';
	</script>
	<script src="/typo3conf/ext/sz_ebook/Resources/Public/Js/pdf/forms.js"></script>

</f:section>