<html lang="en">
<head>
<title></title>
<meta name="viewport" content="width = 1050, user-scalable = no" />
<script type="text/javascript" src="extras/jquery.min.1.7.js"></script>
<script type="text/javascript" src="extras/jquery-ui-1.8.20.custom.min.js"></script>
<script type="text/javascript" src="extras/modernizr.2.5.3.min.js"></script>
<script type="text/javascript" src="extras/hash.js"></script>
<script type="text/javascript" src="extras/additional.js"></script>
<link rel="stylesheet" href="extras/css/additional.css" media="all">
</head>
<body>

<f:render section="main" />

</body>
</html>